body{
  background-color: black;
  background-color: hsl(233, 47%, 7%);
  position: relative;
}
h1{
  color: white;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  display: inline-block;
  width: 75%;
  margin-left: 75px;
  margin-top: 75px;
}
span{
  color: 	#aa5cdb;
  color: hsl(277, 64%, 61%);
}
p{
  color: white;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Inter', sans-serif;
  display: inline-block;
  width: 60%;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 75px;
}
table{
  margin-left: 75px;
  margin-top: 60px;
}
td{
  padding-right: 50px;
}
.td-text{
  font-size: 11px;

}
.head{
  color: white;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bolder;

}
.tt{
  color: white;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  text-align: left;

}
img{
  opacity: 0.5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
.text{
  background-color:  #1b1938;
  background-color: hsl(244, 38%, 16%);
  height: 446px;
  width: 540px;
  display: inline-block;
  position: absolute;
  left:164px;
  margin-left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: 150px;
}
.image{
  background-color: #aa5cdb;
  background-color: hsl(277, 64%, 61%);
  display: inline-block;
  height: 446px;
  position: absolute;
  right: 180px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 150px;
}
